{% extends 'base.html' %}
{% block body %}

    <div class="card card-title">
        <h1>This is {{ custom_user.user.username }}'s Profile</h1>
    </div>
    <div class="row card-body">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img class="card-img" height="col-md-2" src="{{ custom_user.profile.url }}" alt="user profile picture"/>
        </div>
        <div class="col-md-4">
            <h1>{{ custom_user.firstname}} {{ custom_user.lastname}}</h1>
            <h2>{{ custom_user.user_id}}</h2>
            <h3>{{ custom_user.cellphone}}</h3>
            <div class="col-md-5">
                <div class="row card-body">
                    <a href="{% url 'user:edit' custom_user.user_id %}" class="btn btn-primary text-uppercase">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}