{% extends 'products/base.html' %}
{% block body %}
    <h1>This is Users List</h1>

    {% for user in users_list %}
        <div class="row card-body">
            <div class="col-md-2">
                <img class="card" height="150px" src="{{MEDIA_URL}}{{ user.profile }}"/>
            </div>
            <div class="col-md-4">
                <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                <h5>{{ user.user.username }}</h5>
                <h6>{{ user.user.id }}</h6>
            </div>
        </div>
    {% endfor %}
{% endblock %}